body{
margin-left: 10%;
margin-right: 10%;
}    
img{
    width: 10%;
    border-radius: 15%;
}

/* Exercise 2 */
table,th,td{
    border: solid 2px;
}

/* Exercise 3 */
h1{
    text-align: center;
    color: blue;
    font-size: 14px;
}
thead{
    background-color: #AABBCC;
}

ul{
    font-size: 10px;
}
li{
    font-size: 12;
}

p{
    font-family: sans-serif;
}

/* Exercise 4 */
#cap{
    position: relative;
    background-color: rgb(235, 235, 235);
    border: solid 1px;
    width: 540px;
    height: 360px;
    padding: 40px;
}

.green{
    color: green;
}

form > input:nth-child(6){
    color: red;

}

.six{

    color: black;
}